[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    __name__ == .__main__.

[run]
omit =
    */lib-python/?.?/*.py
    */lib/python?.?/*.py
    */lib_pypy/*.py
    */pypy/*.py
    tests/*
