[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:

[run]
omit =
    */lib-python/?.?/*.py
    */lib/python?.?/*
    */lib_pypy/*.py
    */site-packages/nose*
    */site-packages/httplib2*
    */site-packages/mock*
    */site-packages/unittest2*
